.main {
  height: 100vh;
  width: 100%;
  float: left;
  font-family: Helvetica;
}

.userPanel {
  width: 50%;
  height: 100vh;
  float: left;
  background-color: white;
}

.informPanel {
  width: 50%;
  height: 100vh;
  float: left;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.informPanelLoading {
  color: white;
  font-size: 24px;
}

.userPanelMain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 128px;
  padding: 128px 0px;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 96px;
}

.subtitle {
  font-size: 24px;
}

.buttonLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buttonLayoutHorizontal {
  flex-direction: row;
}

.layoutBottom {
  margin-top: auto;
}

.optionsButton {
  outline: none;
  box-sizing: border-box;
  padding: 0px 24px;
  font-size: 24px;
  border: none;
  background-color: #b6b6b6;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  height: 72px;
}

.configInput {
  outline: none;
  box-sizing: border-box;
  padding: 16px;
  height: 48px;
  font-size: 16px;
  border: none;
  background-color: white;
  border: 2px solid #b6b6b6;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.configButton {
  padding: 0px 16px;
  height: 48px;
  font-size: 16px;
}

.optionsButton:hover {
  background-color: #868686;
}

.optionsButton:disabled {
  color: white;
  cursor: not-allowed;
  background-color: #c9c9c9;
}
